body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url(../img/v870-tang-41.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  color: #336699;
}

button {
  padding: 10px 20px;
  background-color: #74d6cb;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #74d6cb;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


body {
  background-color: #f2f2f2;
}

h1 {
  color: #336699;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


table {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th {
  background-color: #336699;
}

tr:nth-child(even) {
  background-color: #88e7d5;
}

button {
  padding: 10px 20px;
  background-color: #74d6cb;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-out;
  border-radius: 4px;
}

button:hover {
  background-color: #336699;
  cursor: pointer;
}