<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>Back</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servexips</display-name>
    <servlet-name>Servexips</servlet-name>
    <servlet-class>Servexips</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servexips</servlet-name>
    <url-pattern>/Servexips</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeXips</display-name>
    <servlet-name>ServeXips</servlet-name>
    <servlet-class>ServeXips</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeXips</servlet-name>
    <url-pattern>/ServeXips</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServePatients</display-name>
    <servlet-name>ServePatients</servlet-name>
    <servlet-class>ServePatients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServePatients</servlet-name>
    <url-pattern>/ServePatients</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeMedicines</display-name>
    <servlet-name>ServeMedicines</servlet-name>
    <servlet-class>ServeMedicines</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeMedicines</servlet-name>
    <url-pattern>/ServeMedicines</url-pattern>
  </servlet-mapping>
</web-app>